

.desktopcopy2 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktopcopy2 .findrequestbyiden {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : left;
  line-height         : 66.0px;
}
.desktopcopy2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 301px;
  height              : 53px;
  box-sizing          : border-box;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(186, 186, 186, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .requestidentifier {
  background-color    : rgba(255,255,255,0.0);
  top                 : 315px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy2 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : 68px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 553px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .validate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 595px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy2 .rectangle2 {
  background-color    : rgba(215, 215, 215, 0.4);
  top                 : 559px;
  height              : 3px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .rectangle3 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 617px;
  height              : 49px;
  width               : 602px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .icons8checkmark144 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 617px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .results {
  background-color    : rgba(255,255,255,0.0);
  top                 : 528px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(217, 217, 217, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy2 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 626px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktopcopy2 .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 693px;
  height              : 68px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy2 .edit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 712px;
  height              : auto;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}