

.desktopcopy3 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktopcopy3 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  right               : 64px;
  bottom              : 47px;
  height              : 60px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .next {
  background-color    : rgba(255,255,255,0.0);
  right               : 64px;
  bottom              : 47px;
  height              : 60px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.desktopcopy3 .positionnumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 322px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .commodity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .materialincrease {
  background-color    : rgba(255,255,255,0.0);
  top                 : 522px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .materialreduction {
  background-color    : rgba(255,255,255,0.0);
  top                 : 572px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .previouscomponenti {
  background-color    : rgba(255,255,255,0.0);
  top                 : 622px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .futurecomponentid {
  background-color    : rgba(255,255,255,0.0);
  top                 : 672px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .previousmaterial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 722px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .futurematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 772px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .previoustitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 822px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .futuretitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 872px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .textnum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : 30px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textnum::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textversion {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : 30px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 520px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textversion::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textsourcingtype {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : 30px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 693px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textsourcingtype::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textnum1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 764px;
  height              : 30px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textnum1::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textversion1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : 30px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 520px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textversion1::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textsourcingtype1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : 30px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 693px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textsourcingtype1::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textversion2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 764px;
  height              : 30px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 521px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textversion2::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textsourcingtype2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 764px;
  height              : 30px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 694px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textsourcingtype2::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textversion3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 764px;
  height              : 30px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 521px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textversion3::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textsourcingtype3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 764px;
  height              : 30px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 694px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textsourcingtype3::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .supplier {
  background-color    : rgba(255,255,255,0.0);
  top                 : 472px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .positiondescription {
  background-color    : rgba(255,255,255,0.0);
  top                 : 372px;
  height              : auto;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(88, 88, 88, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.desktopcopy3 .textpositionnumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 314px;
  height              : 30px;
  width               : 201px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textpositionnumber::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textcommodity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 414px;
  height              : 30px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textcommodity::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textmaterialincrease {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : 30px;
  width               : 219px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textmaterialincrease::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textmaterialreduction {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 30px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textmaterialreduction::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textpreviouscomponentid {
  background-color    : rgba(255,255,255,0.0);
  top                 : 614px;
  height              : 30px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textpreviouscomponentid::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textfuturecomponentid {
  background-color    : rgba(255,255,255,0.0);
  top                 : 664px;
  height              : 30px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textfuturecomponentid::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textprevioustitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 814px;
  height              : 30px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textprevioustitle::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textfuturetitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 864px;
  height              : 30px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textfuturetitle::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textsupplier {
  background-color    : rgba(255,255,255,0.0);
  top                 : 464px;
  height              : 30px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textsupplier::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .textpositiondescription {
  background-color    : rgba(255,255,255,0.0);
  top                 : 364px;
  height              : 30px;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 26.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.desktopcopy3 .textpositiondescription::placeholder {
  color               : rgba(185, 185, 185, 0.6);
}
.desktopcopy3 .screenshot20191009at84820am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 293px;
  width               : 1030px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}