<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1024, maximum-scale=1.0" name="viewport"/>
        <link href="./css/desktopCopy6.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author"/>
    </head>
    <body style="margin: 0;
 background: rgba(232, 237, 239, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="desktopcopy6"/>
        <div class="desktopcopy6">
            <div class="rectangle">
            </div>
            <div class="rectangle1">
            </div>
            <div class="all">
                ALL
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-delete-100%402x.png" class="icons8delete100" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-delete-100%402x.png"/>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-true-false-480%402x.png" class="icons8truefalse480" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-true-false-480%402x.png"/>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark144" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <div class="rectangle2">
            </div>
            <div class="rectangle3">
            </div>
            <div class="rectangle4">
            </div>
            <div class="services">
                SERVICES
            </div>

            <div class="rectangle5">
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1441" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <div class="examplecsv">
                <input id="file" type="file" accept=".xlsx, .xls, .csv" (change)="fileUpload($event.target.files)">
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line.png" class="line" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line.png"/>
            <div class="relevant">
                RELEVANT
            </div>
            <div class="rejected">
                REJECTED
            </div>
            <div class="rectangle6">
            </div>
            <div class="relevancelabels">
                RELEVANCE LABELS
            </div>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line2" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs">
                {{rows[0][0]}}
            </div>
            <div class="aaeikbs1">
                {{rows[0][1]}}
            </div>
            <div class="aaeikbs2">
                {{rows[0][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1442" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line21" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs3">
                {{rows[1][0]}}
            </div>
            <div class="aaeikbs4">
                {{rows[1][1]}}
            </div>
            <div class="aaeikbs5">
                {{rows[1][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1443" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line22" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs6">
                {{rows[2][0]}}
            </div>
            <div class="aaeikbs7">
                {{rows[2][1]}}
            </div>
            <div class="aaeikbs8">
                {{rows[2][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1444" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line23" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs9">
                {{rows[3][0]}}
            </div>
            <div class="aaeikbs10">
                {{rows[3][1]}}
            </div>
            <div class="aaeikbs11">
                {{rows[3][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1445" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line24" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs12">
                {{rows[4][0]}}
            </div>
            <div class="aaeikbs13">
                {{rows[4][1]}}
            </div>
            <div class="aaeikbs14">
                {{rows[4][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1446" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line25" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs15">
                {{rows[5][0]}}
            </div>
            <div class="aaeikbs16">
                {{rows[5][1]}}
            </div>
            <div class="aaeikbs17">
                {{rows[5][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1447" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line26" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs18">
                {{rows[6][0]}}
            </div>
            <div class="aaeikbs19">
                {{rows[6][1]}}
            </div>
            <div class="aaeikbs20">
                {{rows[6][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1448" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line27" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs21">
                {{rows[7][0]}}
            </div>
            <div class="aaeikbs22">
                {{rows[7][1]}}
            </div>
            <div class="aaeikbs23">
                {{rows[7][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark1449" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line28" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs24">
                {{rows[8][0]}}
            </div>
            <div class="aaeikbs25">
                {{rows[8][1]}}
            </div>
            <div class="aaeikbs26">
                {{rows[8][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14410" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line29" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs27">
                {{rows[9][0]}}
            </div>
            <div class="aaeikbs28">
                {{rows[9][1]}}
            </div>
            <div class="aaeikbs29">
                {{rows[9][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14411" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line210" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs30">
                {{rows[10][0]}}
            </div>
            <div class="aaeikbs31">
                {{rows[10][1]}}
            </div>
            <div class="aaeikbs32">
                {{rows[10][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14412" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line211" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs33">
                {{rows[11][0]}}
            </div>
            <div class="aaeikbs34">
                {{rows[11][1]}}
            </div>
            <div class="aaeikbs35">
                {{rows[11][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14413" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line212" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs36">
                {{rows[12][0]}}
            </div>
            <div class="aaeikbs37">
                {{rows[12][1]}}
            </div>
            <div class="aaeikbs38">
                {{rows[12][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14414" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line213" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs39">
                {{rows[13][0]}}
            </div>
            <div class="aaeikbs40">
                {{rows[13][1]}}
            </div>
            <div class="aaeikbs41">
                {{rows[13][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14415" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line214" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs42">
                {{rows[14][0]}}
            </div>
            <div class="aaeikbs43">
                {{rows[14][1]}}
            </div>
            <div class="aaeikbs44">
                {{rows[14][35]}}
            </div>
            <img anima-src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png" class="icons8checkmark14416" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png"/>
            <img anima-src="./img/desktop-copy-6-line-2-11.png" class="line215" src="https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-line-2.png"/>
            <div class="aaeikbs45">
                {{rows[15][0]}}
            </div>
            <div class="aaeikbs46">
                {{rows[15][1]}}
            </div>
            <div class="aaeikbs47">
                {{rows[15][35]}}
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'https://raw.githubusercontent.com/Marcdaou/angular-enofvn-fgrdex/master/src/img/desktop-copy-6-icons8-checkmark-144%402x.png');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
