

.desktopcopy3 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktopcopy3 .validaterequest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 66px;
  width               : 549px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : left;
  line-height         : 66.0px;
}

.desktopcopy3 .form1input1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : 20px;
  width               : 549px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 5.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}

.desktopcopy3 .input1 {
    font-size           : 18.0px;
}
.desktopcopy3 .rectangle {
  background-color    : rgba(233, 233, 233, 1.0);
  top                 : 171px;
  height              : 18px;
  width               : calc(99.99% - 137px);
  position            : absolute;
  margin              : 0;
  left                : 73px;
  border-radius       : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  right               : 917px;
  top                 : 168px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  right               : 64px;
  top                 : 158px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 22px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .request {
  background-color    : rgba(255,255,255,0.0);
  top                 : 216px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktopcopy3 .material {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktopcopy3 .material-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 212px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.desktopcopy3 .amount {
  background-color    : rgba(255,255,255,0.0);
  right               : 26px;
  top                 : 212px;
  height              : 36px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(185, 185, 185, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktopcopy3 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  right               : 64px;
  bottom              : 47px;
  height              : 60px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktopcopy3 .next {
  background-color    : rgba(255,255,255,0.0);
  right               : 64px;
  bottom              : 47px;
  height              : 60px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}