

.desktop {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktop .rodancan6cqjpetiulsunsplash {
  background-color    : rgba(255,255,255,0.0);
  position            : absolute;
  top                 : 0px;
  left                : -1px;
  margin              : 0;
  width               : calc(100.00% + 1px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .monitorrequests {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : auto;
  width               : 365px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.desktop .rectangle {
  background-color    : rgba(215, 215, 215, 0.4);
  top                 : 569px;
  height              : 379px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 508px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .rectangle1 {
  background-color    : rgba(215, 215, 215, 0.4);
  top                 : 752px;
  height              : 7px;
  width               : 862px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .icons8importcsv100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 540px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 253px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .uploadrequestsfrom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 652px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.desktop .manuallyfillreques {
  background-color    : rgba(255,255,255,0.0);
  top                 : 652px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.desktop .queryrelevantreque {
  background-color    : rgba(255,255,255,0.0);
  top                 : 904px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 667px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.desktop .icons8form100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 540px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .validaterequestby {
  background-color    : rgba(255,255,255,0.0);
  top                 : 904px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(76, 76, 76, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.desktop .icons8todolist100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 795px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .icons8dataquality100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 795px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 253px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}